example/extra_workflows/ECS_TASKS_DEPLOY_NEW_SERVICE_ALB.yaml
# Create a "deploy new service" workflow
AWSTemplateFormatVersion: 2010-09-09
Transform: 'AWS::LanguageExtensions'
Parameters:
  WorkflowResources:
    Description: "Shared permissions across workflow resources"
    Type: "String"
    MinLength: 1 # pseudo required
    # MaxLength: 255,
    # AllowedPattern: "^[a-zA-Z][-a-zA-Z0-9]*$",
    Default: "WorkflowResources"
Resources:
  deployApplicationServiceWorkflow:
    Type: AWS::StepFunctions::StateMachine
    Properties: 
      DefinitionString: 
        Fn::ToJsonString: {
          "Comment": "A simple AWS Step Functions state machine that automates a call center support session.",
          "StartAt": "Validate Service Spec",
          "States": {
              "Validate Service Spec": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:823978505121:function:mast-lambda",
                  "Parameters": {
                      "step_name": "validate_service_spec",
                      "service_spec_json.$": "$.service_spec_json",
                      "environment.$": "$.environment",
                      "global_state.$": "$.global_state"
                  },
                  "Next": "Create ECS Task Definition"
              },
              "Create ECS Task Definition": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:823978505121:function:mast-lambda",
                  "Parameters": {
                      "step_name": "lambda_create_ecs_task_definition",
                      "service_spec_json.$": "$.service_spec_json",
                      "environment.$": "$.environment",
                      "output_file": "/tmp/deployment.json",
                      "service_spec_url": "https://raw.githubusercontent.com/yahooo",
                      "global_state.$": "$.global_state"
                  },
                  "Next": "Create ELB Target Groups"
              },
              "Create ELB Target Groups": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:823978505121:function:mast-lambda",
                  "Parameters": {
                      "step_name": "create_elb_target_groups",
                      "service_spec_json.$": "$.service_spec_json",
                      "environment.$": "$.environment",
                      "global_state.$": "$.global_state"
                  },
                  "Next": "Update ELB Listener Rules"
              },
              "Update ELB Listener Rules": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:823978505121:function:mast-lambda",
                  "Parameters": {
                      "step_name": "update_elb_listener_rules",
                      "service_spec_json.$": "$.service_spec_json",
                      "environment.$": "$.environment",
                      "global_state.$": "$.global_state"
                  },
                  "Next": "Create ECS Service"
              },
              "Create ECS Service": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:823978505121:function:mast-lambda",
                  "Parameters": {
                      "step_name": "lambda_create_ecs_service",
                      "service_spec_json.$": "$.service_spec_json",
                      "environment.$": "$.environment",
                      "poll_interval": 10,
                      "task_definition_arn.$": "$.global_state.task_definition_arn",
                      "output_file": "/tmp/deployment.json",
                      "global_state.$": "$.global_state"
                  },
                  "End": true
              }
          }
        }
      RoleArn: { "Fn::ImportValue": { "Fn::Sub": "${WorkflowResources}-RoleArn" } }
      StateMachineName: DeployNewService


# {
#   "global_state": {},
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"default-application-lb\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTP\",\"port\":8080,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"default-application-lb-1663500406.us-east-1.elb.amazonaws.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"default-application-lb-1663500406.us-east-1.elb.amazonaws.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-061ed20000bd2a5e0\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-0a749d17589bb7ae6\",\"subnet-0c77a6ec33ee447f5\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"default-application-lb\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::823978505121:role/default-task-execution-role\",\"staging\":\"arn:aws:iam::823978505121:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::823978505121:role/default-task-role\",\"staging\":\"arn:aws:iam::823978505121:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"default-application-lb\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"default-application-lb\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n",
#   "environment": "prestaging"
# }

# {
#   "step_name": "validate_service_spec",
#   "environment": "prestaging",
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }

# {
#   "step_name": "create_ecs_task_definition",
#   "environment": "prestaging",
#   "output_file": "/tmp/deployment.json",
#   "service_spec_url": "https://raw.githubusercontent.com/yahooo",
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }

# {
#   "step_name": "create_elb_target_groups",
#   "environment": "prestaging",
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }

# {
#   "step_name": "update_elb_listener_rules",
#   "environment": "prestaging",
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }

# {
#   "step_name": "create_ecs_service",
#   "environment": "prestaging",
#   "output_file": "/tmp/deployment.json",
#   "poll_interval": 10,
#   "task_definition_arn": ${TASK_DEFINITION_ARN},
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }

# {
#   "step_name": "scale_ecs_service",
#   "environment": "prestaging",
#   "output_file": "/tmp/deployment.json",
#   "poll_interval": 10,
#   "desired_count": 1,
#   "service_spec_json": "{\"version\":\"2.0\",\"aws\":{\"region\":\"us-east-1\",\"elb\":{\"loadBalancers\":[{\"type\":\"application\",\"name\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"securityGroups\":{\"prestaging\":\"sg-0f8cca4c407546a36\",\"staging\":\"sg-09a8341095bfd82c8\"},\"listeners\":[{\"protocol\":\"HTTPS\",\"port\":443,\"rules\":[{\"placement\":\"end\",\"conditions\":{\"prestaging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}],\"staging\":[{\"Field\":\"host-header\",\"Values\":[{\"prestaging\":\"deployguru.prestaging.clari.com\",\"staging\":\"example-lb-int-staging\"}]}]},\"action\":{\"type\":\"forward\",\"targetGroupName\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"}}}]}]}],\"targetGroups\":[{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"protocol\":\"HTTP\",\"port\":80,\"healthCheck\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/\",\"interval\":30,\"timeout\":5,\"healthyThreshold\":5,\"unhealthyThreshold\":2,\"matcher\":{\"HttpCode\":200}}}]},\"ecs\":{\"service\":{\"cluster\":{\"prestaging\":\"testing-prestaging\",\"staging\":\"testing\"},\"name\":\"example1\",\"allowExisting\":false,\"scalableTarget\":{\"ServiceNamespace\":\"ecs\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"MinCapacity\":{\"prestaging\":1,\"staging\":1},\"MaxCapacity\":50},\"scalingPolicy\":{\"PolicyName\":{\"prestaging\":\"example-prestaging-1\",\"staging\":\"example-staging-1\"},\"PolicyType\":\"TargetTrackingScaling\",\"ResourceId\":{\"prestaging\":\"service/testing-prestaging/example1\",\"staging\":\"service/testing/example1\"},\"ScalableDimension\":\"ecs:service:DesiredCount\",\"ServiceNamespace\":\"ecs\",\"TargetTrackingScalingPolicyConfiguration\":{\"PredefinedMetricSpecification\":{\"PredefinedMetricType\":\"ECSServiceAverageCPUUtilization\"},\"TargetValue\":75,\"ScaleInCooldown\":600,\"ScaleOutCooldown\":60}},\"launchType\":\"FARGATE\",\"desiredCount\":{\"prestaging\":1,\"staging\":\"auto\"},\"healthCheckGracePeriod\":30,\"enableExecuteCommand\":{\"prestaging\":true,\"staging\":true},\"networkConfiguration\":{\"awsvpcConfiguration\":{\"securityGroups\":{\"prestaging\":[\"sg-0567c6c0c02a0abc8\"],\"staging\":[\"sg-0802e31816e48501a\"]},\"subnets\":{\"prestaging\":[\"subnet-7ccfe234\",\"subnet-fdb6d5a7\",\"subnet-f8bd4c9c\",\"subnet-d17219fd\",\"subnet-fce4f5c0\",\"subnet-c43341c8\"],\"staging\":[\"subnet-1de9466b\",\"subnet-4c3dfb14\",\"subnet-e3c555de\",\"subnet-60cf3d4a\"]},\"assignPublicIp\":\"DISABLED\"}},\"loadBalancers\":[{\"loadBalancerName\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"containerName\":\"example\",\"containerPort\":80,\"targetGroup\":{\"name\":{\"prestaging\":\"example-prestaging-111\",\"staging\":\"example-staging-111\"},\"allowExisting\":false}}]},\"taskDefinition\":{\"family\":\"example\",\"containerDefinitions\":[{\"name\":\"example\",\"image\":\"nginxdemos/hello:latest\",\"essential\":true,\"environment\":[{\"name\":\"CLOUD_ENV\",\"value\":{\"prestaging\":\"steelix\",\"staging\":\"staging\"}}],\"logConfiguration\":{\"logDriver\":\"awslogs\",\"options\":{\"awslogs-create-group\":\"true\",\"awslogs-group\":\"example\",\"awslogs-region\":\"us-east-1\",\"awslogs-stream-prefix\":\"nginx\"}},\"portMappings\":[{\"protocol\":\"tcp\",\"containerPort\":80}],\"privileged\":false,\"readonlyRootFilesystem\":false}],\"executionRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TER\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TER\"},\"taskRoleArn\":{\"prestaging\":\"arn:aws:iam::374926383693:role/example_prestaging_ecs_TR\",\"staging\":\"arn:aws:iam::374926383693:role/example_staging_ecs_TR\"},\"requiresCompatibilities\":[\"FARGATE\"],\"networkMode\":\"awsvpc\",\"memory\":{\"prestaging\":\"512mb\",\"staging\":\"1gb\"},\"cpu\":{\"prestaging\":\"0.25 vCPU\",\"staging\":\"0.5 vCPU\"}}}},\"verification\":{\"request\":{\"method\":\"GET\",\"url\":{\"prestaging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"},\"staging\":{\"prestaging\":\"example-lb-int-prestaging\",\"staging\":\"example-lb-int-staging\"}},\"headers\":{\"prestaging\":[\"host: example1.prestaging.clari.com\"],\"staging\":[\"host: example1.staging.clari.com\"]}},\"response\":{\"status\":200,\"body\":\"/buildVersion:[ ]+\\\"${BUILD_VERSION}\\\"/\"}}}\n"
# }
