example/green_service_spec.json
{"service_spec":{"version":"2.0","environments":["prestaging","staging"],"variables":{"ecsClusterName":"default","ecsServiceName":"example1","domainName":{"prestaging":{"standby":"default-application-lb-23808159.us-east-1.elb.amazonaws.com","active":"default-application-lb-23808159.us-east-1.elb.amazonaws.com"},"staging":"example-lb-int-staging"},"loadBalancerName":{"prestaging":"default-application-lb","staging":"example-lb-int-staging"},"targetGroupName":{"prestaging":"example-prestaging-111","staging":"example-staging-111"},"networkConfiguration":{"awsvpcConfiguration":{"securityGroups":{"prestaging":["sg-04f49b903b8016454"],"staging":["sg-0802e31816e48501a"]},"subnets":{"prestaging":["subnet-012deb0d44febbac5","subnet-01c24436513ef20fd"],"staging":["subnet-1de9466b","subnet-4c3dfb14","subnet-e3c555de","subnet-60cf3d4a"]},"assignPublicIp":"DISABLED"}},"executionRoleArn":{"prestaging":"arn:aws:iam::033115095740:role/default-task-execution-role","staging":"arn:aws:iam::033115095740:role/example_staging_ecs_TER"},"taskRoleArn":{"prestaging":"arn:aws:iam::033115095740:role/default-task-role","staging":"arn:aws:iam::033115095740:role/example_staging_ecs_TR"}},"aws":{"region":"us-east-1","elb":{"loadBalancers":[{"type":"application","name":{"prestaging":"default-application-lb","staging":"example-lb-int-staging"},"securityGroups":{"prestaging":"sg-0f8cca4c407546a36","staging":"sg-09a8341095bfd82c8"},"listeners":[{"protocol":"HTTP","port":8080,"rules":[{"placement":"end","conditions":{"prestaging":[{"Field":"host-header","Values":[{"prestaging":{"standby":"default-application-lb-23808159.us-east-1.elb.amazonaws.com","active":"default-application-lb-23808159.us-east-1.elb.amazonaws.com"},"staging":"example-lb-int-staging"}]}],"staging":[{"Field":"host-header","Values":[{"prestaging":{"standby":"default-application-lb-23808159.us-east-1.elb.amazonaws.com","active":"default-application-lb-23808159.us-east-1.elb.amazonaws.com"},"staging":"example-lb-int-staging"}]}]},"action":{"type":"forward","targetGroupName":{"prestaging":"example-prestaging-111","staging":"example-staging-111"}}}]}]}],"targetGroups":[{"name":{"prestaging":"example-prestaging-111","staging":"example-staging-111"},"protocol":"HTTP","port":80,"healthCheck":{"protocol":"HTTP","port":80,"path":"/","interval":30,"timeout":5,"healthyThreshold":5,"unhealthyThreshold":2,"matcher":{"HttpCode":200}}}]},"ecs":{"service":{"cluster":{"prestaging":"default","staging":"default"},"name":"example1","allowExisting":false,"scalableTarget":{"ServiceNamespace":"ecs","ResourceId":{"prestaging":"service/default/example1","staging":"service/default/example1"},"ScalableDimension":"ecs:service:DesiredCount","MinCapacity":{"prestaging":1,"staging":1},"MaxCapacity":50},"scalingPolicy":{"PolicyName":{"prestaging":"example-prestaging-1","staging":"example-staging-1"},"PolicyType":"TargetTrackingScaling","ResourceId":{"prestaging":"service/default/example1","staging":"service/default/example1"},"ScalableDimension":"ecs:service:DesiredCount","ServiceNamespace":"ecs","TargetTrackingScalingPolicyConfiguration":{"PredefinedMetricSpecification":{"PredefinedMetricType":"ECSServiceAverageCPUUtilization"},"TargetValue":75,"ScaleInCooldown":600,"ScaleOutCooldown":60}},"launchType":"FARGATE","desiredCount":{"prestaging":1,"staging":"auto"},"healthCheckGracePeriod":30,"enableExecuteCommand":{"prestaging":true,"staging":true},"networkConfiguration":{"awsvpcConfiguration":{"securityGroups":{"prestaging":["sg-04f49b903b8016454"],"staging":["sg-0802e31816e48501a"]},"subnets":{"prestaging":["subnet-012deb0d44febbac5","subnet-01c24436513ef20fd"],"staging":["subnet-1de9466b","subnet-4c3dfb14","subnet-e3c555de","subnet-60cf3d4a"]},"assignPublicIp":"DISABLED"}},"loadBalancers":[{"loadBalancerName":{"prestaging":"default-application-lb","staging":"example-lb-int-staging"},"containerName":"example","containerPort":80,"targetGroup":{"name":{"prestaging":"example-prestaging-111","staging":"example-staging-111"},"allowExisting":false}}]},"taskDefinition":{"family":"example","containerDefinitions":[{"name":"example","image":"nginxdemos/hello:latest","essential":true,"environment":[{"name":"CLOUD_ENV","value":{"prestaging":"steelix","staging":"staging"}}],"logConfiguration":{"logDriver":"awslogs","options":{"awslogs-create-group":"true","awslogs-group":"example","awslogs-region":"us-east-1","awslogs-stream-prefix":"nginx"}},"portMappings":[{"protocol":"tcp","containerPort":80}],"privileged":false,"readonlyRootFilesystem":false}],"executionRoleArn":{"prestaging":"arn:aws:iam::033115095740:role/default-task-execution-role","staging":"arn:aws:iam::033115095740:role/example_staging_ecs_TER"},"taskRoleArn":{"prestaging":"arn:aws:iam::033115095740:role/default-task-role","staging":"arn:aws:iam::033115095740:role/example_staging_ecs_TR"},"requiresCompatibilities":["FARGATE"],"networkMode":"awsvpc","memory":{"prestaging":"512mb","staging":"1gb"},"cpu":{"prestaging":"0.25 vCPU","staging":"0.5 vCPU"}}}},"verification":{"request":{"method":"GET","url":{"prestaging":{"prestaging":"default-application-lb","staging":"example-lb-int-staging"},"staging":{"prestaging":"default-application-lb","staging":"example-lb-int-staging"}},"headers":{"prestaging":["host: example1.prestaging.clari.com"],"staging":["host: example1.staging.clari.com"]}},"response":{"status":200,"body":"/buildVersion:[ ]+\"${BUILD_VERSION}\"/"}}},"deployment_spec":{"StartAt":"Validate Service Spec","States":{"Validate Service Spec":{"Type":"Task","Resource":"function:mast-lambda\"","Parameters":{"step_name":"contexts_validate_service_spec","service_spec_json.$":"$.service_spec_json","context":["prestaging","standby"],"output_file":"/tmp/deployment.json"},"ResultPath":"$.standby_service_spec","Next":"Create ECS Task Definition"},"Create ECS Task Definition":{"Type":"Task","Resource":"function:mast-lambda\"","Parameters":{"step_name":"contexts_lambda_create_ecs_task_definition","service_spec_json.$":"$.standby_service_spec.service_spec_json","output_file":"/tmp/deployment.json","service_spec_url":"https://raw.githubusercontent.com/yahooo"},"ResultPath":"$.ecs_task_definition","Next":"Create ELB Target Groups"},"Create ELB Target Groups":{"Type":"Task","Resource":"function:mast-lambda\"","Parameters":{"step_name":"contexts_create_elb_target_groups","service_spec_json.$":"$.standby_service_spec.service_spec_json"},"ResultPath":"$.elb_target_groups","Next":"Update ELB Listener Rules"},"Update ELB Listener Rules":{"Type":"Task","Resource":"function:mast-lambda\"","Parameters":{"step_name":"contexts_update_elb_listener_rules","service_spec_json.$":"$.standby_service_spec.service_spec_json"},"ResultPath":"$.elb_listener_rules","Next":"Create ECS Service"},"Create ECS Service":{"Type":"Task","Resource":"function:mast-lambda\"","Parameters":{"step_name":"contexts_lambda_create_ecs_service","service_spec_json.$":"$.standby_service_spec.service_spec_json","poll_interval":10,"task_definition_arn.$":"$.ecs_task_definition.task_definition_arn","output_file":"/tmp/deployment.json"},"ResultPath":"$.ecs_service","End":true}}}}
