example/more.json
{
    "StartAt": "Execute",
    "States": {
        "Execute": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:::function:topsail-lambda",
            "Parameters": {
                "input.$": "$"
            },
            "Next": "Choose action"
        },
        "Choose action": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.execution_state.status",
                    "StringEquals": "DONE",
                    "Next": "Process finished"
                },
                {
                    "Variable": "$.execution_state.status",
                    "StringEquals": "EXECUTING",
                    "Next": "Execute"
                }
            ]
        },
        "Process finished": {
            "Type": "Succeed"
        }
    }
}